
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: lightblue;
    color: white;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
}

.box{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: black;

    transform-style: preserve-3d;

    transform: perspective(5000px)
    rotateY(var(--rotateY))
    rotateX(var(--rotateX));
    display: grid;
    place-items: center;
    border-radius: 14px;
    position: relative;
    text-shadow: 1px 1px 14px wheat;
}

.box::before,
.box::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}

.box::before{
    inset: 0.85rem;
    background: black;
    transform: translateZ(-49px);
    filter: blur(12px);
    opacity: .5;
}

.box::after{
    inset: -1rem;
    background: linear-gradient(-45deg, red, blue);
    transform: translateZ(-50px);
}


h1{
    color: white;
}